*{
    box-sizing: border-box;
}

:root {
    --background-color: #111;
    --border-color: #222;
    --color-color: #fff;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1,h2,h3,a,p,span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: var(--color-color);
}

h1 {
    font-size: 2vw;
}

a {
    text-decoration: none;
    font-size: 1.5vw;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--border-color);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
  }

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 1rem 2vw;
    display: flex;
    gap: 1vw;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

.article-nav-section {
    padding: 1rem 2vw;
    display: flex;
    gap: 10vw;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

.article-title-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-description-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

#nav-logo-section {
    justify-content: flex-start;
}

#nav-link-section {
    gap: 2vw;
}

#nav-social-section {
    gap: 2vw;
}

#nav-logo-section > a > i {
    font-size: 2.5vw;
}

#nav-contact-section > a > i {
    font-size: 3vw;
}

#nav-logo-section, #nav-link-section {
    flex-basis: calc(100%/3);
}

#nav-social-section, #nav-contact-section {
    flex-basis: calc(100%/6);
}

main{
    flex-grow: 1;
    position: relative;
}

main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;  
}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="active"] {
  transform: translateX(0%);
}

main > article[data-status="before"] {
  transform: translateX(-100%);
}

main > article[data-status="after"] {
  transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="becoming-active-from-after"] {
  transform: translateX(100%);
  transition: none;
}

main > article > .article-section {
    height: 100%;
}

main > article > .article-description-section, main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
}

main > article > .article-title-section, main > article > .article-nav-section{
    height: 100%;
    border-top: 1px solid var(--border-color);
}

.image-1{
    background-image: url("img/a1.png");
}

.image-2{
    background-image: url("img/a2.png");
}

.image-3{
    background-image: url("img/a3.png");
}

.image-4{
    background-image: url("img/a4.png");
}

.article-image-section{
    background-position: center;
    background-size: contain;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 18px;
}

span {
    font-size: 20px;
}

.article-title-button{
    color: var(--color-color);
    background-color: var(--background-color);
    border:none;
    cursor: pointer;
}

.nav-contact-button{
    font-size: 3vw;
    color: var(--color-color);
    background-color: var(--background-color);
    border:none;
    cursor: pointer;
}

.article-nav-button{
    padding: 20px;
    background-color: transparent;
    flex-grow: 1;
    color: var(--color-color);
    background-color: var(--background-color);
    border:none;
    outline: none;
    cursor: pointer;
}

main > article > .article-nav-section > .article-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

@media(max-width: 1200px) {    
    #nav-mobile-section {
      flex-basis: calc(100% * 0.75);
    }
  
    #nav-logo-section {
      flex-basis: calc(100% * 0.25);
    }
    
    #nav-link-section {
      flex-basis: calc(100% / 3);
      gap: 3rem;
    }
  
    main {
      overflow-y: auto;
      overflow-x: hidden;
    }
    
    main > article {
      grid-template-columns: none;
      grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
      height: max(900px, 100%);
    }
     
    main > article > .article-title-section > h2 {
      font-size: 4vw; 
      line-height: 2.6rem;
    }
  
    main > article > .article-image-section {
      order: 1;
    }
    
    main > article > .article-title-section {
      border-bottom: 1px solid var(--border-color);
      order: 2;
    }
    
    main > article > .article-description-section {
      justify-content: center;
      order: 3;
    }
    
    main > article > .article-nav-section {
      border-bottom: 1px solid var(--border-color);
      order: 4;
    }
  }
  
  @media(max-width: 800px) {  
    nav {
      justify-content: space-between;  
    }
    
    nav[data-toggled="true"] > #nav-mobile-section {  
      transform: translateY(0%);
    }
  
    nav[data-toggled="true"] > #nav-toggle-button {
      border-left: none;
    }
  
    nav[data-transitionable="true"] > #nav-mobile-section {
      transition: transform 400ms ease;
    }
    
    nav .nav-section {
      border-left: none;
      padding: 1rem 1rem;
    }
    
    #nav-logo-section > a > i {
      font-size: 1rem;
      margin-left: 1rem;
    }
    
    #nav-mobile-section {
      background-color: var(--background-color);
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      position: fixed;
      transform: translateY(-100%);
    } 
    
    #nav-toggle-button {
      display: flex;
    }  
    
    #nav-link-section {
      flex-basis: 20%;
      flex-direction: column;
      gap: 1rem;
    }
    
    #nav-link-section > a {
      font-size: 1rem; 
    }
    
    #nav-social-section > a {
      font-size: 1rem; 
    } 
    
    #nav-logo-section > a > h1 {
        font-size: 2rem;
        text-align: center; 
      }  
    
    main > article {
      grid-template-rows: 1fr repeat(4, 0.5fr);
      height: max(700px, 100%);
    }
    
    main > article > .article-title-section {
      padding: 2rem;
    }
    
    main > article > .article-title-section > h2 {
      font-size: 3.5vw; 
    }
    
    main > article > .article-title-section > i {
      font-size: 2rem; 
    }
    
    main > article > .article-description-section {
      padding: 2rem;
    }
    
    main > article > .article-description-section > p {
      font-size: 1rem;
    }
  }
  